@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mt-5">
    <h1 class="display-4">Lets Stay Consistent!</h1>
    <p class="lead">A web tool that lets the user keep track of their goals, log their progress, and celebrate their consistency</p>
    <hr class="my-4">
    <h2>What led to my idea</h2>
    <p>
        I always had a hard time exercising consistently. 
        I want to create a simple web page that will let me input my efforts,
        keep track of my consistency (i.e. you worked out "x" days in a row) and display my progress.
        I want to have a progress bar that needs to be filled to achieve some sort of reward at the end
        (i.e. workout 14 days in a row and you can buy "x").
    </p>
    <p>This project was created during the Code With Friends Spring 2020 event</p>
    <a class="btn btn-dark btn-lg" href="https://scottkwang.github.io/CodeWithFriends-Spring2020/" role="button">Learn more about Code With Friends!</a>
</div>