.root {
    -fx-font-family: Garamond;
}

.buttons {
    -fx-background-color: #364652;
    -fx-alignment: center-left;
    -fx-spacing: 10;
    -fx-padding: 10 5 10 5;
    -fx-font-family: Garamond;
}

.button {
    -fx-background-color: C9F0FF;
    -fx-alignment: center;
    -fx-pref-width: 150;
    -fx-pref-height: 75;
    -fx-max-width: 200;
    -fx-max-height: 100;
    -fx-font-family: Garamond;
    /*-fx-padding: 5 10 5 10;*/
}

.mode-buttons {
    -fx-padding: 0 10 0 10;
    -fx-font-family: Garamond;
    -fx-font-size: 50;
}
.mode-buttons .label {
    -fx-alignment: center;
    -fx-font-size: 30;
    -fx-font-family: Garamond;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}
.mode-buttons .button {
    -fx-font-size: 18;
    -fx-font-weight: 500;
    -fx-text-alignment: center;
}

.length-buttons {
    -fx-padding: 0 10 0 10;
    -fx-font-family: Garamond;
    -fx-font-size: 25;
}
.length-buttons .label {
    -fx-alignment: center;
    -fx-font-size: 30;
    -fx-font-family: Garamond;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}
.length-buttons .button {
    -fx-font-size: 25;
    -fx-font-weight: 500;
}

.play-buttons {
    -fx-padding: 0 10 0 10;
    -fx-font-family: Garamond;
    -fx-font-size: 20;
}