    <!-- Copy message -->
    <div class="msg">Copied to Clipboard!</div>
    <!-- Footer -->
    <section id="footer">
      <p class="footer-text">
        Made with <span> &#x2764;</span> by <a href="https://facebook.com/ZhFahim.Me" target="blank">Zahidul Hoque Fahim</a>
      </p>
    </section>
    
    <!-- Custom Script -->
    <script src="/scripts/script.js"></script>
  </body>
</html>
