<% include ./partials/header.ejs %>

  <div class="container">

    <% include ./partials/nav.ejs %>

    <div class="row">
      <div class="col">
        <div class="content">
            <h1 class="title">
              Get started now by creating a new account!
            </h1>
            <a href="/users/register" class="btn btn-primary">Create account</a>
            <h3 class="title-small">Or get to your account right away!</h3>
            <a href="/account" class="btn btn-info">Go to account</a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>