<% include ./partials/header.ejs %>
  
  <div class="container">
    <% include ./partials/nav.ejs %>

    <div class="alerts-messages">
      <% include ./partials/messages %>
    </div>

    <div class="alerts-container">
        <% if(success_msg != '') { %>
            <div class="alert alert-success alert-item" role="alert">
              <%= success_msg %>
            </div>
        <% } %>
    </div>

    <div class="row justify-content-center">
      <div class="col">

          <form method="POST" action="/users/login" class="form-auth">

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input
                  name="email"
                  type="email" 
                  class="form-control" 
                  value="<%= typeof email != 'undefuned' ? email : '' %>" 
                  id="email-auth"
                  autocomplete="off" 
                  placeholder="Email"
                  required
                  >
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="password1">Password</label>
                  <input
                  name="password"
                    type="password" 
                    class="form-control"  
                    id="password-auth"
                    autocomplete="new-password"
                    placeholder="Password"
                    required
                    >
                </div>
              </div>

        
              <button type="submit" class="btn btn-primary submit-btn" id="btn-auth">Sign in</button>
            </form>

      </div>
    </div>

  </div>

</body>

</html>