body,html{
	height: 100%;
	background-color: #333;
	margin: 0;
	font-family: lato;
	
}
.space{
	padding-bottom: 10%;  			
}
.container{
	margin: 10px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.text{
	color: white;
}
.mdc-card{
	margin-bottom: 50px;
}
.inputField{
	margin-top: 25px;
	width: 100%;
	height: 30px;
	/* padding-bottom: 15px; */
	overflow-x: hidden;
}
#add{
	position: fixed;
	bottom: 2%;
	z-index: 99;
	right: 2%;
}

.offline{
	width: 100%;
	height: 40%;
}

#file{
	display: none;
}

.buttons{
    color: white;
    background-color: tomato;
    text-align: center;
    padding: 14px;
    margin: auto;
    border: none;
}

#img{
	height: 200px;
	width: 100%;
}

.searchMessage{
	margin: auto;
	margin-top: 50%;
}

.comments{
	width: 100%;
	background: white;
	border-radius: 5px;
	padding: 1px;
	margin-bottom: 10px;
}

.user_name{
	color: #800080;
}