<!DOCTYPE html>
<head>
<title></title>
</head>
<body>
		{{{body}}}
		<!-- <ul id="messages"></ul>
		<input id="message-input" type=text>
		<input type="button" value="Submit"> -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/javascripts/client.js"></script>
		<script src="/javascripts/bundle.js"></script>
</body>
</html>