* {
  margin: 0;
  padding: 0;
}

/* .container {
    border: dashed;
    border-color: #BBC7F5;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    width: 600px;
} */
body {
  margin: 0px;
  background-color: #C1F6FF;
}

.topCloud {
  position: absolute;
  left: 70%;
  top: 2%;
  margin-top: 50px;
}

.botCloud {
  position: absolute;
  left: 20%;
  top: 30%;
}

.mountain1 {
  position: absolute;
  bottom: 0%;
  opacity: 65%;
  width: 45%;
}

.mountain2 {
  position: absolute;
  bottom: 0%;
  right: 0%;
  opacity: 65%;
  width: 45%;
  height: 65%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#mainTitle {
  position: relative;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  top: 50px;
  font-size: 42px;
}

#dateBar {
  position: absolute;
  top: 15%;
  left: 75%;
  font-size: 28px;
}

#pointsBar {
  position: absolute;
  top: 30%;
  left: 75%;
  font-size: 28px;
  width: 200px;
  padding: 10px 10px;
  ;
  border: 5px solid grey;
}

#accuracyBar {
  position: absolute;
  top: 40%;
  left: 75%;
  font-size: 28px;
  width: 200px;
  padding: 10px 10px;
  ;
  border: 5px solid grey;
}

#colorBox {
  position: absolute;
  top: 35%;
  left: 46.5%;
  width: 150px;
  height: 150px;
  background-color: white;
  border: 10px solid blue;
}

#randomLetter {
  text-align: center;
  display: none;
  font-size: 500%;
  padding: 30px 40px;
}

button {
  border: 0;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 15px;
  color: #007aff;
  font-size: 32px;
  font-family: "Arial Narrow";
  font-weight: bold;
  background-color: #f2f2f7;
  box-shadow: 0px 15px #007aff;
}

button:hover {
  font-family: "Arial Narrow";
  font-size: 32px;
  background-color: #E8E8E8;
}

button:active {
  background-color: #8993B8;
  box-shadow: 0 5px #8993B8;
  transform: translateY(10px);
}

#startButton {
  display: block;
  position: absolute;
  top: 60%;
  left: 48%;
}

#endButton {
  display: none;
  position: absolute;
  top: 60%;
  left: 46.5%;
}

.directionsBox {
  background-color: white;
  position: absolute;
  text-align: center;
  top: 80%;
  left: 32.5%;
  width: 710px;
  height: 75px;
  font-size: 24px;
  padding: 20px 20px 25px 20px;
  border: 5px solid grey;
}
