<html>
  <head>
    <style>
      table {
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      .column-headers-background {
        display: none;
      }
      .row-headers-background {
        display: none;
      }
      .freezebar-origin-ltr {
        display: none;
      }
    </style>
  </head>
  <body>
    <p>
      Welcome to the Code With Friends, Spring 2020 Project Fair! Take a look at
      everyone else's projects on what they worked on and learned this month!
      Vote on your favorite projects here!
    </p>
  </body>
</html>
