<html>
  <head>
    <style>
      /* table {
        width: 100%;
      }

      table thead tr th,
      table tbody tr td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        line-height: 1.3em;
        font-family: "Lato", sans-serif;
        background-color: blueviolet;
      }

      .column-headers-background {
        display: none;
      }
      .row-headers-background {
        display: none;
      }
      .freezebar-origin-ltr {
        display: none;
      } */
    </style>
  </head>
  <body>
    <p>
      Welcome to the Code With Friends, Spring 2020 Project Fair! Take a look at
      everyone else's projects on what they worked on and learned this month!
      Vote on your favorite projects here!
    </p>
    <p>
      <b>Winners of our superlatives!</b>
      <br />
      Favorite Project:
      <a
        href="https://github.com/ScottKwang/CodeWithFriends-Spring2020/blob/master/projects/Cipulot/Readme.md"
        >LeapMask</a
      >
      by Luca Conte
      <br />
      Most Unique:
      <a
        href="https://github.com/ScottKwang/CodeWithFriends-Spring2020/blob/master/projects/sfal/README.md"
        >Birb</a
      >
      by Serena
      <br />
      Most Chill #1:
      <a
        href="https://github.com/ScottKwang/CodeWithFriends-Spring2020/blob/master/projects/BLKKKBVSIK/README.md"
        >RelaxingRain</a
      >
      by BLKKKBVSIK
      <br />
      Most Chill #2:
      <a
        href="https://github.com/ScottKwang/CodeWithFriends-Spring2020/blob/master/projects/sttic/README.md"
        >Digital Window</a
      >
      by Tommy Deng, Vivian Diec
      <br />
      Mayuko's Next Gaming Addiction:
      <a
        href="https://github.com/ScottKwang/CodeWithFriends-Spring2020/blob/master/projects/epsi95/voice_controlled_T_Rex/README.md"
        >DinoRun</a
      >
      by Probhakar
      <br />
      Most Likely to Save the Planet:
      <a
        href="https://github.com/ScottKwang/CodeWithFriends-Spring2020/blob/master/projects/GarrickBee/README.md"
        >Maskfinder.com</a
      >
      by GarrickBee
      <br />
      Most Likely to be Used by Our Robot Overlords:
      <a
        href="https://github.com/ScottKwang/CodeWithFriends-Spring2020/blob/master/projects/Cipulot/Readme.md"
        >LeapMask</a
      >
      by Luca Conte
    </p>
  </body>
</html>
