body {
  background: url(./assets/images/background.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.timer-container h1 {
  text-align: center;
  font-size: 4rem;
  display: flex;
  margin-left: 22px;
  width: 160px;
}

.timer-container {
  display: flex;
  justify-content: center;
  color:white;
  margin-bottom: 60px;
}

.play-pause {
  height: 70px;
  width: 170px;
  margin: auto 16px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 1.75rem;
}

button.play-pause:focus {
  outline: none;
}

.play-pause:hover, .play-pause:active {
  background-color: rgba(145, 145, 145, 0.3);

}

.play-pause svg {
  font-size: 3.5rem;
}
.row1, .row2 {
      justify-content: center;
      display: flex;
}

.row1 .audio-container:not(:last-child), .row2 .audio-container:not(:last-child) {
  margin-right: 10px;
}

.image-container img {
  width: 200px;
  height: 150px;
} 

.image-container {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
} 

button.image-container:focus {
  outline: none;
} 

.audio-container button {
  background-color: rgba(145, 145, 145, 0.3);
  border-radius: 10px;
  display: grid;
}

.audio-container button:hover, .audio-container button:active {
  background-color: rgb(145,145,145,0.7);
}

.image-container label {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

button.selected {
  background-color: rgb(145,145,145,0.7);
}

button:focus {
  outline:0;
}

audio {
  display: none;
}

button.btn-primary {
  border: none;
}

button.btn-primary svg {
  height: 50px;
  width: 50px;
}

a.text-white {
  font-size: 36px;
}

button.underneath {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 0;
  opacity: 0;
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
}


button.on-top {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  padding: 0;
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
}

button.on-top:focus, button.underneath:focus {
  outline: none;
  border: none;
}

div.gear-container {
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;;
}

.audio-play-pause-container {
  display: flex;
  justify-content: center;
  color:white;
  margin-bottom: 60px;
}

.audio-play-pause {
  height: 120px;
  width: 120px;
  margin: auto 16px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

button.audio-play-pause:focus {
  outline: none;
}

.audio-play-pause:hover, .audio-play-pause:active {
  background-color: rgba(145, 145, 145, 0.3);

}

.audio-play-pause svg {
  font-size: 6rem;
}