/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= profile
 *= event
 *= actiontext
 */
@import "bootstrap";

body {
  background-color: #222;
  color: #DDD;
}

.btn-primary {
  background-color: #f9dc5c;
  border-color: #f9dc5c;
  color: #222;
}
//button

.btn-primary:hover {
  background-color: #fcedad;
  border-color: #fcedad;
  color: #222;
}
//hover

.red-navbar {
  background-color: #ed254e;
  color: #eee;
  border: 1px solid #333;
  font-size: 24px;
}

navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

.dark {
  background-color: #465362;
}

trix-toolbar .trix-button-group button {
  background-color: white;
}