<%- include("./partials/header") %>
<div class="login">
  <h3>Login</h3>
  <form action="/login" method="POST">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" required />
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required />
    <button>Login</button>
  </form>
</div>
<%- include("./partials/footer") %>
