*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

pre{
    display: none;
}

body{
    background-color: #292929;
    color:#fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.mainGrid{
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 600px 100px;
 justify-items: center;
 align-items: center;
 padding: 20px; 
 margin: 20px;  
 row-gap: 10px;
}

#myCanvas{
    border: 10px solid #ff7a49;
    width:800px;
    height: 500px;
    background-color: #fff;
    border-radius: 15px;
    color:#000;
}

.clearBtn{
    border: 5px solid #ff7a49;
    width:220px;
    height: 60px;
    background-color: #fff;
    color:#000;
    justify-self: center;
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 15px;
}