<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ShareIT</title>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../public/assets/bootstrap-4.3.1/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../public/assets/bootstrap-4.3.1/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../public/assets/bootstrap-4.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="../public/assets/style.css">


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>

  <script src="https://kit.fontawesome.com/1fa317c9da.js" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>

  <script SRC="../public/assets/bootstrap-4.3.1/js/bootstrap.min.js"></script>
  <script SRC="../public/assets/bootstrap-4.3.1/js/bootstrap.bundle.min.js"></script>

</head>

<body>