<div class="row nav justify-content-around">
    <div class="col-sm-4 col-12">
      <div class="logo"><a href="/" class="logo__name">ShareIT</a></div>
    </div>
    <div class="col-sm-8 col-12">
      <div class="actions">
        <div class="actions__signup">
          <a href="/users/register" class="btn btn-primary actions__btn">Sign up</a>
        </div>
        <div class="actions__signin">
            <a href="/users/login" class="btn btn-primary actions__btn">Sign in</a>
        </div>
      </div>
    </div>
  </div>