.root {
    -fx-background-color: whitesmoke;
}
.label {
    -fx-font-size: 20;
    -fx-font-family: Garamond;
    -fx-font-weight: 500;
}

#tempo-display {
    -fx-font-size: 20;
    -fx-font-family: Garamond;
    -fx-font-weight: 500;
}

.button {
    -fx-max-width: inherit;
    -fx-pref-width: inherit;
    -fx-font-size: 18;
    -fx-text-fill: black;
    -fx-background-color: #C9F0FF;
    -fx-alignment: center;
    -fx-pref-height: 75;
    -fx-max-height: 75;
    -fx-font-family: Garamond;
    -fx-padding: 5 10 5 10;
}

#content {
    -fx-padding: 25 0 0 25;
    -fx-spacing: 10;
}

#inner-content {
    -fx-spacing: 10;
}

#title {
    -fx-font-size: 24;
    -fx-font-family: Garamond;
    -fx-font-weight: 700;
}